body {
    margin: 0;
    height: 87.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('home-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 75%;
    margin: 2em auto 1rem;
    margin: 0 auto;
    padding: 1em;
    border: .3em solid #202529;
    border-radius: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #202529;
    background-color: #e4e3e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}