.error {
    color: red;
}

.mask {
    min-height: 88vh;
    padding-top: 25px;
    padding-bottom: 25px;
    flex: 1;
    background-image: url('details-character-img.png');
    background-size: cover;
    background-position: 50% 35%;
    background-repeat: no-repeat;
}

.card {
    border: .3em solid #202529;
}

.btn {
    margin-left: 20px;
    margin-right: 20px;
}

.switches-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Adjust spacing between switches */
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
opacity: 0;
width: 0;
height: 0;
}
  
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: 0.4s;
border-radius: 34px;
}
  
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
transition: 0.4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #202529;
}

input:checked + .slider:before {
transform: translateX(26px);
}

.advantage,
.class-feature {
    font-size: large;
    font-style: italic;
}

.modifiers-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.ability,
.proficiency,
.targetAC {
    display: flex;
    align-items: center;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}
  
.tooltip-bubble {
    visibility: hidden;
    width: 200px;
    background-color: #202529;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 40%;
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip-container:hover .tooltip-bubble {
    visibility: visible;
    opacity: 1;
}
  