.mainbox {
    min-height: 88vh;
    padding-top: 25px;
    padding-bottom: 25px;
    flex: 1;
    margin: auto;
    height: 550px;
    width: 550px;
    position: relative;
}

.err {
    color: #202529;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
}

.far {
position: absolute;
font-size: 8.5rem;
left: 42%;
top: 15%;
color: #202529;
}

.err2 {
    color: #202529;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
}

.err3 {
    position: absolute;
    left: 43%;
    top: 15%;
    height: 8rem;
    width: auto; 
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
text-decoration: none;
color: #202529;
}

a:hover {
text-decoration: underline;
}
  