.error {
    color: red;
}

.mask {
    min-height: 88vh;
    padding-top: 25px;
    padding-bottom: 25px;
    flex: 1;
    background-image: url('login-img.png');
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
}